.vscode/**
.vscode-test/**
src/**
test/**
*.vsix
**/.vscode-test-user-data/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
!out/**/*.js
